@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
  color: #fff8fb;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: #3e4f86;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #3e4f86;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 527px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  gap: 28px;
  background: #3e4f86;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fff8fb;
  border-bottom: 1px solid transparent;

  padding: 8px;
}
.navigation__link:hover,
.navigation__link:focus {
  border-bottom: 1px solid #fff8fb;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 36px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 16px;

    padding: 8px 10px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 478px;
  padding: 217px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 2424.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 22px;
  color: #c7d4ff;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 0 0 70px 105px;
  text-shadow: 4px 4px 30px #000000;
}

.home__google-button_image {
  width: 180px;
  height: 52px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 890px;
    padding: 369px 0px 0px 842px;
    background-image: url("/img/home/Frame\ 2425.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .home-title {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    padding: 0 0 88px 0;
  }
}
.about {
  padding: 35px 15px 0px;
  margin: auto;
  width: 375px;
  height: 935px;
  background-image: url("/img/about.png");
}

.about-title {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.about-text {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;
  padding: 25px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 127px 0;
    width: 1440px;
    height: 664px;
    background-image: url("/img/about\ \(1\).png");
  }
  .about-title {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 40px;
  }

  .about-text {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
    padding: 56px 0px 0;
    gap: 24px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 45px 16px 0;
}

.how-list {
  padding: 25px 0 20px;
}
.how-item {
  width: 306px;
  margin: 10px;
}
.how-img {
  margin: auto;
}
.how-text-bold {
  padding: 0px 0 16px;

  font-family: Merriweather;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.how-text {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 110px 72px 0;
  }
  .how-list {
    padding: 57px 0 0px;
  }
  .how-item {
    width: 306px;
    height: 440px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .how-text-bold {
    padding: 0px 0 16px;

    font-family: Merriweather;
    font-weight: 700;
    font-size: 20px;
  }
  .how-text {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 45px 16px 0;
}

.reviews-list {
  padding-top: 25px;
  padding-bottom: 20px;
}
.reviews-item {
  padding: 20px 35px;
  margin: 0 10px;
  width: 345px;
  height: 198px;
  background-image: url("/img/features/benefit\ mob.png");
}
.reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 14px;
}
.reviews-text-bold {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 18px;
}
.reviews-text {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;
  height: 92px;
}

.gallery-button-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .reviews {
    width: 1440px;
    padding: 110px 0 0;
  }
  .reviews-list {
    padding-top: 56px;
    padding-bottom: 0px;
  }
  .reviews-item {
    padding: 24px 37px;
    margin: 0 20px;
    width: 380px;
    height: 219px;
    background-image: url("/img/features/benefit.png");
  }
  .reviews-item-top {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-top: 19px;
  }
  .reviews-text-bold {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 20px;
  }
  .reviews-text {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;

    height: 100px;
  }
}

.faq {
  padding: 45px 16px 0px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.faq-item {
  backdrop-filter: blur(5px);
  border: 2px solid #a09790;
  box-shadow: 0px 4px 30px 0px #000000;
  background: #ffffff03;
  border-radius: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 18px;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;
  border-top: 1px solid #a09790;
  border-top-width: 1px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 72px 300px;
    width: 1440px;
    background-image: url("/img/faq/FAQ\ \(1\).png");
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 45px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.gallery__list {
  width: 355px;
  padding: 0px 0 20px;
}
.gallery__item {
  width: 345px;
  height: 230px;
  border: 2px solid #a09790;
  border-radius: 15px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 110px 180px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
  }

  .gallery__list {
    width: 1074px;
    padding: 0px;
  }
  .gallery__item {
    width: 1074px;
    height: 564px;
    border-radius: 24px;
    border-width: 2px;
    margin: 0 10px;
  }
  .slick-prev:before {
    content: url("/img/features/navigation.png");
    display: flex;
    margin-left: -70px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/features/navigation\ \(1\).png");
    display: flex;
    margin-left: 60px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 45px 16px;
}

.features-list {
  padding: 25px 0 20px;
}
.features-item {
  width: 345px;
  height: 198px;
  background-image: url("/img/features/benefit\ mob.png");
  padding: 25px 45px 0;
  margin: 0 10px;
}
.features-item-two {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 56px;
}
.features-text-bold {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 18px;
}
.features-text {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;
  padding-top: 15px;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 8px;
  height: 8px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/features/Ellipse\ 11.png") no-repeat center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/features/Ellipse\ 15.png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 100px 72px 110px;
  }
  .features-list {
    padding: 36px 0 0px;
  }
  .features-item {
    width: 380px;
    height: 219px;
    background-image: url("/img/features/benefit.png");
    padding: 36px 37px 0;
    margin: 0 20px;
  }

  .features-text-bold {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 22px;
  }
  .features-text {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
  }
  .slick-dots {
    display: none;
  }

  .slick-dots li {
    display: none;
  }
}
.footer {
  background: #000000;

  color: #ffffff;
  padding: 25px 15px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 62px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  gap: 60px;
  row-gap: 27px;
}
.footer-text {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 16px;

  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 14px;

  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 36px 0px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    gap: 91px;
  }

  .footer-wrapper {
    gap: 400px;
  }
  .footer-text {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 16px;

    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 16px;

    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 100px 16px 40px;
}
.policy-terms-title {
  text-transform: uppercase;
  font-family: Cinzel;
  font-weight: 700;
  font-size: 22px;

  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 18px;

  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;

  letter-spacing: 0%;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;

  letter-spacing: 0%;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;

  letter-spacing: 0%;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 18px;

  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 120px 72px 60px;
  }
  .policy-terms-title {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 40px;

    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Merriweather;
    font-weight: 700;
    font-size: 22px;

    letter-spacing: 0%;
  }
  .policy-terms-texts {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;

    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    padding-top: 30px;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;

    letter-spacing: 0%;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;

    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 20px 15px;
  background: #fff8fb;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 18px;
  text-align: center;

  color: #3e4f86;
}
.cookie-button-container {
  padding: 38px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #3e4f86;
  width: 196px;
  border-radius: 36px;
  padding: 16px 0;
  font-family: Merriweather;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #3e4f86;
}
#accept-cookies {
  background: #3e4f86;
  color: #ffffff;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 24px;

    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 745px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 41px 72px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
